---
// Import quiz data from JSON file
import quizData from './quizdata.json';
import { FinalQuiz } from './FinalQuiz';
import './components/Quiz.css';
---

<div class="quiz-client-wrapper">
  <FinalQuiz client:load quizData={quizData} />
</div>
