---
let brands = [
    {
        name: "METZ",
        logo_src: "brands/metz_logo.png"
    },
    {
        name: "SMART Board",
        logo_src: "brands/smart_screen_logo.png"
    },
    {
        name: "Promethean",
        logo_src: "brands/promethean_logo.png"
    }
]
---
<div class="brand-container">
    {brands.map(brand => (
        <div class="brand-card card">
            <header>{brand.name}</header>
            <img src=`/assets/${brand.logo_src}` alt="">
            <div>
                <button class="button-faint">Learn More</button>
            </div>
        </div>
    ))}
</div>
<style>
.brand-container {
    display: flex;
    flex-flow: row nowrap;
    gap: calc(var(--padding-s1));
    padding: var(--padding-s1) 0;
}
.brand-card {
    flex-grow: 1;
    img {
        width: 150px;
        margin: var(--padding-s1) 0;
    }
}
</style>