---
import BaseLayout from './BaseLayout.astro';
import Nav from '../components/common/Nav/Nav.tsx';
import Footer from '../components/common/Footer/Footer.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Nav client:only="react" />
  <main>
    <slot />
  </main>
  <Footer />
  <style>
    main {
      min-height: 70vh;
    }
  </style>
</BaseLayout>
