---
import MainLayout from '../layouts/MainLayout.astro';
import Banner from '../components/home/Banner/Banner.astro';
import BrandsSection from '../components/home/BrandsSection/BrandsSection.astro';
import UsecasesSection from '../components/home/UsecasesSection/UsecasesSection.astro';

const title = 'Big Shine Display';
const description =
  'Interactive Smart Board & Accessories for Classrooms, Offices, and Training Centers';
---

<MainLayout title={title} description={description}>
  <Banner
    title="BIG SHINE DISPLAY"
    subtitle="Premium Interactive Smart Boards for Education and Business"
  />

  <section class="container">
    <BrandsSection />
  </section>

  <section class="usecase-container">
    <div class="container">
      <UsecasesSection />
    </div>
  </section>
</MainLayout>

<style lang="scss">
  .usecase-container {
    background-color: #fff;
    padding: 50px 0;
    margin-top: 30px;
  }

  @media (max-width: $breakpoint-md) {
    .usecase-container {
      padding: 30px 0;
    }
  }
</style>
